/*body{
    background-color: coral;
}*/


.entrydone{
    background: lightgreen !important;

}
.entrynew{
    background: lemonchiffon !important;
}
.entryprogress{
    background: darkkhaki !important;
}

.ui-datatable .ui-datatable-data tr{

    height : 10px !important;

}

.ui-datatable .ui-datatable-data td{
    color: darkgreen !important;
  padding: 3px !important;


}